@media only screen and (max-width: 1024px) {
  .middleView #subjectlist{
  	width: 100%; 
  	height: auto !important;
  }
  #subjectlist .subject-nav {
  	height: 250px;
  }
  #conversation{
  	width: 76%;
  	left: 19%;
  }
  #conversation .chat{
  	height: 500px;
  }
  .activeToggle{
  	margin-left: auto;
    width: auto;
    height: auto;
  }
  .activeToggle #subjectlist{
  	margin-left: 4% !important;
    width: 90% !important;
  	height: auto !important;
  }
  .activeToggle #conversation{
  	left: 0 !important;
  	margin-left: 4% !important;
    width: 90% !important;
  	height: auto !important;
  }
}

@media only screen and (max-width: 767px) {
	.menu{
		z-index: 2;
	}
	#sidebar-wrapper{
		width: 60% !important;
	}
	#wrapper{
		padding-left: 54% !important;
		position: relative;
    z-index: 1;
	}
	#wrapper .btn{
		margin: 0px !important;
	}
	.active #sidebar-wrapper{
		margin-left: -60% !important;
	}
	#wrapper.active {
		padding-left: 5px !important;
	}
	.middleView{
		margin-left: 2% !important;
    width: 96% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
	}
	.middleView #subjectlist{
  	margin-left: 4% !important;
    width: 90% !important;
  	height: auto !important;
  }
  .middleView #conversation{
  	left: 0 !important;
  	margin-left: 4% !important;
    width: 90% !important;
  	height: auto !important;
  }
  #wrapper #sidebar-wrapper:after {content: "";background-color: rgba(0,0,0,0.5);position: fixed;top: 0;left: 0;bottom: 0;right: 0;z-index:-1;}
	#wrapper.active #sidebar-wrapper:after {display: none;}
  #conversation.col-md-8{
    position: relative;
  }
  .photo{
    width: 115px !important;
    height: auto !important;
  }
  #conversation .expandIcon{
    display: none;
  }
  .activeToggle{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .chat .message div{
    width: 85% !important;
  }
  .composeActiveToggle .row{
    margin: 0px !important;
  }
}